.profile-card{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
.profile-image {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    background-color: #dcbfbf;
}
.profile-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.profile-text {
    color: #666666;
    font-size: 1em;
    line-height: 1.4;
}
.profile-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.logout-button {
    background-color: #1e1930;
    color: white;
    padding: 6px 20px;
    border-radius: 90px;
}
.reference-container{
    color: #1e1930;
    margin:auto;
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-around;
    line-height: 1.5;
    align-items: center;
}
.reference-description{
    font-weight: 100;
    font-size: 2rem;
}
