.dashboard-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.dashboard-left{
    flex: 1;
    max-width: 250px;
}
.dashboard-right{
    flex: 3;
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .dashboard-main {
        flex-direction: column;
    }
    .dashboard-right {
        width: 100%;
    }
}