/* Layout container for conversations and messages */
.conversations-with-messages {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  .chat-container {
  position: relative;
  padding-right: 420px; 
}
}

/* Sidebar container for the conversation list */
.conversations-wrapper {
  height: 100vh;
  width: 480px; /* Fixed width for the sidebar */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Prevent scrolling inside the conversation list */
.conversations-wrapper > .cometchat {
  overflow: hidden;
}

/* Main chat messages container */
.messages-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles for the placeholder when no conversation is selected */
.empty-conversation {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cometchat-background-color-03, #F5F5F5); /* Light gray background */
  color: var(--cometchat-text-color-secondary, #727272); /* Secondary text color */
  font: var(--cometchat-font-body-regular, 400 14px Roboto);
}

/* Remove border-radius for the message composer input */
.cometchat .cometchat-message-composer {
  border-radius: 0px;
}

