.about-wrapper{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: (0, 0, 0, 0.2);
    padding: 1rem;
    box-sizing: border-box;
}
.app-bio{
    font-size: 1.25rem;
    padding: 2em;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 800px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}
.feedback-box{
    position: relative;
    width: 100%;
    max-width: 350px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    height: auto;
    border: 5px solid #1e1930;
    border-radius: 15px;
    padding: 6em 2em 3em 2em;
    color: white;
    box-shadow: 0px 0px 10px 2px (0, 0, 0, 0.3);
    box-sizing: border-box;
}
.feedback-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #1e1930;
    width: 100px;
    height: 40px;
    border-radius: 0 0 20px 20px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feedback-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #1e1930;
}
.feedback-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #1e1930;
}
.feedback-input{
    width: 100%;
    padding: 0.5px;
    margin: 0.5rem auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background: transparent;   
    color: white;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
}.feedback-input::placeholder{
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: center;
}   
@media (max-width: 780px) {
    .app-bio {
        font-size: 1rem;
        padding: 1em;
    }
    .feedback-box {
        max-width: 90%;
        padding: 5em 1em 2em 1em;
    }
    .feedback-header {
        width: 200px;
        font-size: 0.9rem;
    }
    .feedback-input {
        font-size: 14px;
    }
    @media (max-width: 480px) {
    .feedback-header {
        width: 180px;
        height: 45px;
        font-size: 0.85rem;
    }

    .feedback-box {
        padding: 4.5em 1em 1.5em 1em;
    }
}
    .feedback-input {
        font-size: 14px;
    }
}