.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    transition: all 0.3s ease;
    cursor: pointer;
}
    .logo:hover{
    transform: scale(1.2);
}

nav {
 padding: 1.5rem 2rem;
 color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* Hide the checkbox */
.checkbtn {
 font-size: 2rem;
 color: white;
 cursor: pointer;
 display: none;
}
.menu-toggle {
 display: none;
}

.nav-mobile {
display: flex;
flex-direction: row;
gap: 1.5rem;
justify-content: space-around;
}
.nav-mobile a {
 color: #fff;
 padding: auto;
 text-decoration: none;
 justify-content: left;
}

@media only screen and (max-width: 992px) {
 .checkbtn {
 display: block;
 }
.nav-mobile {
 display: none;
 position: absolute;
 top: 5.8rem;
 right: 0;
background: #222831 transparent;
 width: 100px;
 flex-direction: column;
 z-index: 1;

}
    #check:checked ~ .nav-mobile {
    display: flex;
    }
    .nav-mobile a {
        color: #272323;
        padding: auto;
        text-align: center;
    }
    .nav-mobile a:hover {
        background: #e6e8ec;
    }
}